@media screen and (max-width: 576px) {
    .row-login-register {
        margin-bottom: 0px !important;
    }
}

.text-login-register-title {
    font-size: 20px !important;
    font-weight: 700 !important;
}

.text-login-register {
    font-size: 15px !important;
    font-weight: 300 !important;
}