// Here you can add other styles
.display-flex {
    display: flex;
}

.color-green {
    color: green !important;
}
.color-red {
    color: red !important;
}

.modal-backdrop-full {
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
}