.header {
    color: #00E3F5 !important;
}

.footer {
}

.footer>.omie {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 100px;
    height: auto;
}

.table.table-condensed.questionnaire {

}