#scenes,#scenes ul,#scenes ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#swot-analysis:after {
  content: '';
  display: table;
  clear: both;
}

#swot-analysis {
  margin: 0 auto;
  zoom: 1;
}

#swot-analysis #scenes .scene {
  background: #fff;
  float: left;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin: 0 0 0 0;

  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0.9,0.5);

  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;

}

#scenes {

}

.sceneContainer .sceneLogo h2 {
  font-size: 2.125em;
  font-weight: 300;
  color: #3e4f6a;
  margin: 0;
  /*padding: .6em 0;*/
}

.sceneContainer .sceneLogo h2.bestPlanTitle {
  background: #3e4f6a;

  background: -webkit-linear-gradient(top, #475975, #7b828d);
  background: -moz-linear-gradient(top, #475975, #364761);
  background: -o-linear-gradient(top, #475975, #364761);
  background: -ms-linear-gradient(top, #475975, #364761);
  /* background: linear-gradient(top, #475975, #364761); */
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.sceneContainer .sceneTitle p {
  /*background: #3e4f6a;*/
  background: -webkit-linear-gradient(top, #475975, #364761);
  background: -moz-linear-gradient(top, #475975, #364761);
  background: -o-linear-gradient(top, #475975, #364761);
  background: -ms-linear-gradient(top, #475975, #364761);
  /* background: linear-gradient(top, #475975, #364761); */
  color: #fff;
  font-size: 2em;
  height: 2em;
  line-height: 2em;
  text-transform: uppercase;
  font-family: 'Bangers', cursive;
}

.sceneContainer .sceneTitle p span {
  color: #8394ae;
}

.sceneContainer li .sceneItens {
  font-family: 'Open Sans', sans-serif;
  width: 96%;
  margin-left: 2% !important;
}

.sceneContainer .sceneItens li {
  font-weight: 300;
  color: #364762;
  line-height: 1.3;
  max-width: 100%;
  margin: 0 0 20px 0 !important;
  word-break: break-word;
}

.sceneContainer .sceneItens li span {
  font-weight: 400;
  color: #979797;
}

.center-swot {
  margin: auto !important;
  height: 100% !important;
  display: flex;
  justify-content: center !important;
  text-align: center !important;
}

.sceneIcon {
  margin: 20px;
  background-color: white !important;
}

.modal-swot-header {
  height: 60px !important;
}

.title-modal-swot {
  width: 100%;
  top: 0;
  left: 0;
  background-color: #555555;
  position: absolute;
  color: white;
  font-family: 'Bangers', cursive;
  font-size: 50px;
  text-align: center;
  padding-top: 4px;
  z-index: 15;
}

.color-oportunidades {
  background: #61b7db;
  color: #61b7db;
}

.color-forca {
  background: #51d391;
  color: #51d391;;
}

.color-ameacas {
  background: #9e82f1;
  color: #9e82f1;;
}

.color-fraquezas {
  background: #d24471;
  color: #d24471;
}

#swot-analysis #scenes > li:last-child {
  margin-right: 0;
}

#swot-analysis #scenes .scene:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

@media screen and (min-width: 481px) and (max-width: 768px) {

  #swot-analysis #scenes .scene {
    width: 49%;
    margin: 0 2% 20px 0 !important;
  }

  #swot-analysis #scenes > li:nth-child(2n) {
    margin-right: 0;
  }

}

@media screen and (max-width: 768px) {

  #swot-analysis #scenes .scene {
    width: 98%;
    margin: 0 2% 0 0;
  }

  #swot-analysis #scenes > li:nth-child(2n) {
    margin-right: 0;
  }

}

@media screen and (min-width: 769px) and (max-width: 1100px) {

  #swot-analysis #scenes .scene {
    width: 49%;
    margin: 0 2% 0 0;
  }

  #swot-analysis #scenes > li:nth-child(2n) {
    margin-right: 0;
  }

}

@media screen and (min-width: 1101px) {

  #swot-analysis {
    margin: 2em auto;
    align-content: center;
    /*display: flex;*/
    text-align: center;
  }

  #swot-analysis #scenes .scene {
    width: 24%;
    margin: 0 1.33% 0 0;
  }

}
