<table
    style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;background-color:#f1f1f1;width:100%">
    <tbody>
        <tr
            style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px">
            <td
                style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;vertical-align:top">
            </td>
            <td width="600"
                style="margin:0 auto;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;vertical-align:top;display:block;max-width:620px;clear:both">
                <div
                    style="margin:0 auto;padding:20px;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;max-width:620px;display:block">
                    <table width="100%" cellpadding="0" cellspacing="0"
                        style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;background:#fff;border:1px solid #e9e9e9;border-radius:3px">
                        <tbody>
                            <tr
                                style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px">
                                <td
                                    style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;vertical-align:top;padding-top:25px;padding-bottom:0;padding-left:50px;padding-right:50px">
                                    <table width="100%" cellpadding="0" cellspacing="0"
                                        style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px">
                                        <tbody>
                                            <tr
                                                style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px">
                                                <td
                                                    style="margin:0;padding:0 0 20px;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;vertical-align:top">

                                                    <img src="https://cdn.omie.com.br/assets/login/images/logo-omie.png"
                                                        style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;max-width:300px;max-height:20px"
                                                        class="CToWUd" data-bit="iit"
                                                        jslog="138226; u014N:xr6bB; 53:WzAsMl0.">

                                                </td>
                                            </tr>
                                            <tr
                                                style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px">
                                                <td
                                                    style="margin:0;padding:0 0 20px;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;vertical-align:top">
                                                    <p
                                                        style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;margin-bottom:10px;font-weight:normal">
                                                        Olá, <%- data.user_name %>
                                                            <br
                                                                style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px">
                                                            <br
                                                                style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px">
                                                            A geração do relatório <span
                                                                style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;border-bottom:1px solid rgba(1,30,45,0.7)"><b
                                                                    style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px">Simbiose</b></span></span>
                                                            foi concluída e o PDF já
                                                            estão
                                                            disponível para download.
                                                    </p>
                                                    <p
                                                        style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;margin-bottom:10px;font-weight:normal">
                                                    </p>
                                                    <div
                                                        style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;text-align:center">

                                                    </div>
                                                    <p
                                                        style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;margin-bottom:10px;font-weight:normal">
                                                    </p>
                                                    <div
                                                        style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;text-align:center">
                                                        <div
                                                            style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px">
                                                            <a href="<%= data.url_report %>"
                                                                style="margin:20px;padding:20px 40px;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;color:rgb(1,30,45);text-decoration:none;background-color:#fff;border:1px solid rgb(1,30,45);font-weight:700;text-align:center;display:inline-block;border-radius:40px;text-transform:none;line-height:1em;overflow:hidden"
                                                                target="_blank"
                                                                data-saferedirecturl="https://www.google.com/url?q=http://click.omie.com.br/track/click/30041717/appdsv.omie.com.br?p%3DeyJzIjoiWmU1NkNpTHRGWDZUQ0N5U2FhX0d2OVlHc2owIiwidiI6MSwicCI6IntcInVcIjozMDA0MTcxNyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcGRzdi5vbWllLmNvbS5iclxcXC9kcml2ZVxcXC9icmF6aWxpbmUtMDZqa2FhXFxcLzUwNjY4NDI5MzgxMTA1Ny03YzQ2NzAzNTY1MDk2NjE0MzIxMzY0ODFjNTc5YmFlNy0zOTU4MzUxLXRlN21oXCIsXCJpZFwiOlwiMmU1NDYxYWM0YTg0NDMzOWE4NWE1NmVlNDJkMzIwZTRcIixcInVybF9pZHNcIjpbXCJlZmFmMzIxOTMyYjQ5NzI0NmRmODVkMGVjZjk5MWQzOTNjMjAwOWQ2XCJdfSJ9&amp;source=gmail&amp;ust=1720546998004000&amp;usg=AOvVaw2_S6qagLufmT-_h2qjDvkh">
                                                                Abrir PDF
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <p></p>
                                                    <p
                                                        style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;margin-bottom:10px;font-weight:normal">
                                                        Até a próxima :)
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div
                        style="margin:0;padding:20px;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;width:100%;clear:both;color:#999">
                        <table width="100%"
                            style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px">
                            <tbody>
                                <tr
                                    style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px">
                                    <td
                                        style="margin:0;padding:0 0 20px;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:12px;vertical-align:top;text-align:center">


                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </td>
            <td
                style="margin:0;padding:0;font-family:&quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px;vertical-align:top">
            </td>
        </tr>




    </tbody>
</table>